.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastroContainer {
  background-color: rgba(173, 216, 230, 0.9);
  padding: 40px 30px;
  border-radius: 50px;
  text-align: center;
   width: 40%;
  min-width: 100px;
  min-height: 80vh;  
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 200px;
  color: white;
  margin-bottom: 80px;
  margin-top: 60px;

}

.img {
  margin-top: 120px;
}

.input {
  width: 90%;
  padding: 60px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  font-size:110px;
  margin-top: 110px;
}

.cadastroBtn {
  align-items: center;
  width: 35%;
  padding: 50px;
  font-size: 100px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 150px auto 0 auto;
  text-decoration: none;
}

.cadastroBtn:hover {
  background-color: #f0f0f0;
}
