

.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
 gap: 10px;
}

.header span {
  color: #0c1792;
  font-size: 100px;
  font-weight: bold;
}

.backButton {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}


.container {
  background-color: rgba(255, 255, 255, 0.78);
 width: 50%;
  min-width: 100px;
  min-height: 55vh;  
  height: auto;
  padding: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 70px; 
}

.sm {
  margin-bottom: 80px;
  font-size: 120px;
  color: #000000;
  text-align: center;
}

.cccontainer {
  background-color: #b3d7ff;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  min-height: 40vh;  
  height: auto;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoSection {
  width: 50%;
}

.perfilInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

}

.inputInfo {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  
}

.profileImage {
  border-radius: 10%;
  margin-right: 38px;
  margin-bottom: 90px;
  margin-top: 90px;
}

.perfilInfo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
 
  
}

.perfilInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 170%;
  font-size: 70px;
  margin-top: 20px;
  border-radius: 30px;
}

.perfilInfo span {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 40px;
}


.inputInfo label {
  margin-bottom: 90px;
  font-size: 90px;
  font-weight: normal;
  color: #000;
  margin-top: 10px;
}

.inputInfo span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputInfo input {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 80px;
  width: 80%;
  background-color: #eee;
  margin-top: 70px;
}

.buttonSection button {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  width: 90%;
  height: 80%;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 200px;
  font-size: 20px;
}

.buttonSection button:hover {
  background-color: #3a5885;
}
