

.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 6%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #0C1792;
  font-weight: bold;
  font-size: 34px;
}

.backButton {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.header img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.header span {
  color: #0C1792;
  font-size: 40px;
  font-weight: bold;
}

.container {
  background-color: rgba(255, 255, 255, 0.78);
  width: 50%;
  height:800px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 70px; 
}

.sm {
  margin-bottom: 20px;
  font-size: 36px;
  color: #000000;
  text-align: center;
}

.cccontainer {
  background-color: #b3d7ff;
  padding: 20px;
  height:650px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoSection {
  width: 60%;
}

.buttonSection {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.perfilInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

}

.profileImage {
  border-radius: 10%;
  margin-right: 38px;
}

.perfilInfo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
 
  
}

.perfilInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 145%;
 height: 38px;
   font-size: 25px;
   margin-top: 20px;
}

.perfilInfo span {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 16px;
}

.inputInfo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  
}

.inputInfo label {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: normal;
  color: #000;
  margin-top: 10px;
}

.inputInfo span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputInfo input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 22px;
  width: 80%;
  background-color: #eee;
  margin-bottom: 8px;
}

.buttonSection button {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  width: 90%;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 38px;
  font-size: 20px;
}

.buttonSection button:hover {
  background-color: #80b19d;
}
