.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  background-color: rgba(173, 216, 230, 0.9);
  padding: 40px 30px;
  border-radius: 15px;
  text-align: center;
  width: 950px;
  height: 900px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer h1 {
  font-size: 55px;
  color: white;
  margin-bottom: 45px;
  margin-top: 20px;
}

.input {
  width: 100%;
  height: 10%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  font-size: 30px;
  margin-top: 20px;
}

.loginBtn {
  width: 55%;
  height: 10%;
  padding: 12px;
  font-size: 30px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 20px auto 30px auto;
  transition: background-color 0.3s;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.loginBtn:hover {
  background-color: #f0f0f0;
}

.loginContainer p {
  margin-top: 15px;
  font-size: 30px;
  color: white;
}

.link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

    