.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  background-color: rgba(173, 216, 230, 0.9);
  width: 40%;
  min-width: 100px;
  min-height: 70vh;  
  height: auto;
  padding: 40px;
  border-radius: 50px;
  margin: 150px auto;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer h1 {
  font-size: 280px;
  color: white;
  margin-bottom: 45px;
  margin-top: 20px;
}
 
.img {
 
  margin-top: 120px;

}

.input {
  width: 90%;
  
  padding: 60px;
  margin-bottom: 90px;
  border-radius:30px;
  border: none;
  font-size: 110px;
  margin-top: 120px;
}

.loginBtn {
  width: 40%;
  
  padding: 50px;
  font-size: 110px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 90px auto;
  transition: background-color 0.3s;
  text-decoration: none;

}

.loginBtn:hover {
  background-color: #f0f0f0;
}

.loginContainer p {
  margin-top: 15px;
  font-size: 100px;
  color: white;
}

.link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

    