html{
    font-size: 62.5%;
    max-width: 100vw;
}

body{
    font-size: 1.6rem;
    min-width: 32rem;
    min-height: 100vh;
    max-width: 144rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 15px;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


