html, body {
  height: 33%;
  margin: 0;
  padding: 0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 15px;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



