

.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  position: relative;
}

.backButton {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.header img {
  height: 30px;
  margin-right: 10px;
}

.header span {
  color: #0c1792;
  font-size: 34px;
  font-weight: bold;
}

.container {
  background-color: rgba(255, 255, 255, 0.78);
  width: 800px;
  height: 450px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.contato {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
}

.contato img {
  width: 45px;
  margin-right: 15px;
}

.apelido {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.apelido:hover {
  text-decoration: underline;
}

    