
.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
   min-height: 100vh;
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  gap: 10px;
}
.header span {
  color: #0c1792;
  font-size: 100px;
  font-weight: bold;
}

.backButton {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  background-color: rgba(255, 255, 255, 0.78);
  width: 65%;
  min-width: 100px;
  min-height: 60vh;  
  height: auto;
  padding: 20px;
  border-radius: 50px;
  margin-top: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm {
  font-size: 110px;
  margin-bottom: 2%;
  margin-top: 25px;
}

.txt {
  font-size: 60px;
 
}

.txtDois {
  font-size: 60px;
  margin-top: 55px;
}

.titulo {
  font-size: 70px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.paragrafo {
  margin-top: 25px;
  margin-bottom: 10px;
}

.boxTexto {
  width: 100%;
  height: 70vh; 
  background-color: rgba(255, 255, 255, 0.78);
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto; 
  overflow-x: hidden;
  font-size: 20px;
  line-height: 1.6;
  font-size: 60px;
}

.boxTexto::-webkit-scrollbar {
  width: 15px;
}

.boxTexto::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.78);
  border-radius: 20px;
}

.boxTexto::-webkit-scrollbar-thumb {
  background: #0c1792;
  border-radius: 20px;
}

