
.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
   min-height: 100vh;
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  gap: 10px;
}
.header span {
  color: #0c1792;
  font-size: 100px;
  font-weight: bold;
}

.backButton {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  background-color: rgba(255, 255, 255, 0.78);
  width: 50%;
  min-width: 100px;
  min-height: 60vh;  
  height: auto;
  padding: 20px;
  border-radius: 50px;
  margin-top: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm {
  font-size: 110px;
  margin-bottom: 7%;
}


