
.body {
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.container {
  background-color: rgba(255, 255, 255, 0.78);
  width: 910px;
  height: 800px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}


.imgl {
  height: 200px;
  margin-right: 15px;
   margin-top: 70px;
}


.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 56px;
  color: black;
  margin-top:85px;
  margin-bottom: 40px;
  font-weight: bold;
}


.p {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  height: 100px;
  padding: 12px;
  font-size: 45px;
  margin-bottom: 10px;
  opacity: 100%;
  margin-top: 5px;
   display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #37383d;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100px;
  padding: 12px;  
  background-color: #5a5b65;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 80px; 
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.txtButton {
  font-size: 38px;
}

.button:hover {
  background-color: #4a4b55;
}
