

.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
   min-height: 100vh;
}

.header {
  width: 100%;
  height: 6%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  gap: 10px;
}

.header span {
  color: #0c1792;
  font-size: 40px;
  font-weight: bold;
}

.container {
  background-color: rgba(255, 255, 255, 0.78);
  width:45%;
  height: 970px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensorCards {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10%;
}

.card {
  background-color: #cfe8ff;
  border-radius: 10px;
  width: 40%;
  height: 150%;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
  color: #0c1792;
  font-weight: bold;
  font-size: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card p {
  font-size: 33px;
  margin-top: 25px;
}

.localSelect select {
font-size: 26px;
margin-right: 840px;
background-color: #cfe8ff;
color: #1d236d;
border-radius: 10px;
}


.buttonRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.iconButton {
  background-color: #e0f0ff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 300px;
}
.iconButtonG {
  background-color: #89c47d;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 300px;
}

.iconButton img {
  width: 80px;
  height: 80px;
}

.off {
  background-color: #dd5a4c !important;
}
.on {

  background-color: #49af55 !important;
}
