

.body {
  font-family: "Lucida Sans", sans-serif;
  background-image: url('/fundinho.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
   min-height: 100vh;
   
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  gap: 10px;
}

.header span {
  color: #0c1792;
  font-size: 100px;
  font-weight: bold;
}

.container {
  background-color: rgba(255, 255, 255, 0.78);
  width: 45%;
  min-width: 100px;
  min-height: 65vh;  
  height: auto;
  padding: 20px;
  border-radius: 50px;
  margin-top: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensorCards {
 padding: 80px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10%;
}

.card {
  background-color: #cfe8ff;
  border-radius: 50px;
  width: 40%;
  padding: 100px;
  text-align: center;
  margin-top: 30px;
  color: #0c1792;
  font-weight: bold;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card p {
  font-size: 100px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.localSelect select {
font-size: 70px;
margin-right: 2100px;
background-color: #cfe8ff;
color: #1d236d;
border-radius: 30px;
margin-top: 70px;
margin-bottom: 120px;
}


.buttonRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.iconButton {
  background-color: #e0f0ff;
  border: none;
  border-radius: 60px;
  padding: 15px;
  width:170%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 400px;
}
.iconButtonG {
  background-color: #89c47d;
  border: none;
  border-radius: 60px;
  padding: 78px;
  width: 11%;
  height:  100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 400px;
}



.off {
  background-color: #dd5a4c !important;
}
.on {

  background-color: #49af55 !important;
}

.texto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


